<!doctype html>
<html
  {% if request.design_mode %}
    class="shopify-design-mode"
  {% endif %}
  lang="{{ request.locale.iso_code }}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description | escape }}">

  {%- if settings.favicon != blank -%}
    <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
  {%- endif -%}

  {%- render 'meta-tags' -%}
  {%- render 'stylesheets' -%}
  {%- render 'fonts' -%}

  {{ content_for_header }}
</head>

<body class="page-width-{{ settings.page_width }}">
  {%- render 'skip-to-content-link', href: '#MainContent' -%}

  <div class="page-wrapper">
    <header id="header-group">
      {%- sections 'header-group' -%}
    </header>

    <main id="MainContent" class="content-wrapper" role="main">
      {{ content_for_layout }}
    </main>

    <footer id="footer-group">
      {%- sections 'footer-group' -%}
    </footer>
  </div>

  {%- render 'script-tags' -%}
</body>
</html>
